  <div class="content-area home-area-1 recent-property" style="background-color: #FCFCFC; padding-bottom: 55px;">
            <div class="container">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1 col-sm-12 text-center page-title">
                        <!-- /.feature title -->
                        <h2>Top submitted property</h2>
                        <p>Nulla quis dapibus nisl. Suspendisse ultricies commodo arcu nec pretium. Nullam sed arcu ultricies . </p>
                    </div>
                </div>
        

                    <div class="row">
                        <div class="proerty-th">
                            <% for property in @property %>
                                <div class="col-sm-6 col-md-3 p0">
                                    <div class="box-two proerty-item">
                                        <div class="item-thumb">
                                            <!-- <a href="property-1.html" ><img src="assets/img/demo/property-1.jpg"></a> -->
                                            <%= image_tag property.image_url(:thumb)%>
                                            <!-- <td><%#= image_tag property.image_url(:thumb)%></td> -->

                                        </div>
                                        <div class="item-entry overflow">
                                            <!-- <h5><a href="property-1.html" >Super nice villa </a></h5> -->
                                            <h5><%= link_to h(property.name),property_path(property.id)%></h5>
                                            <div class="city"><i class="fa fa-map-marker fa-1x"><strong><%= property.city%></i></strong></div>
                                            <div class="dot-hr"></div>
                                            <span class="pull-left"><b><%= property.size %></b></span>
                                            <!-- <span><%#= property.bhk%></span> -->
                                            <span class="proerty-price pull-right"><%= 'Rs %0.2f' % property.price %></span>
                                            <!-- <span class="pull-left"><b>Area :</b> 120m </span> -->
                                            <!-- <span class="proerty-price pull-right">$ 300,000</span> -->
                                        </div>
                                    </div>
                                </div>

                           

                            <% end %>
                               <!--  <div class="col-sm-6 col-md-3 p0">
                                    <div class="box-tree more-proerty text-center">
                                        <div class="item-tree-icon">
                                            <i class="fa fa-th"></i>
                                        </div>
                                        <div class="more-entry overflow">
                                            <h5><a href="property-1.html" >CAN'T DECIDE ? </a></h5>
                                            <h5 class="tree-sub-ttl">Show all properties</h5>
                                            <button class="btn border-btn more-black" value="All properties">All properties</button>
                                        </div>
                                    </div>
                                </div> -->
                        </div>
                    </div>
            </div>

</div>

<style type="text/css">
    .city{
        margin-top: -10%;
        padding-right: 10%;
        float: right;
    }
</style>